<plugin>
 <nom>Annonces</nom>
 <version>1.0</version>
 <prefix>annonces</prefix>
  <etat>dev</etat>
 <auteur>Théo Chevalier [contact->mailto:contact@theochevalier.fr]
 _ [mon site->http://www.theochevalier.fr] - ................</auteur>
 <description>Ce plugin permet l'ajout de petites annonces. Il est distribu&eacute; sous licence GNU/GPL</description>
 <fonctions>annonces_fonctions.php</fonctions>
 <options>annonces_options.php</options>
 <pipeline>
        <nom>declarer_tables_interfaces</nom>
        <inclure>base/pipelines_annonces.php</inclure>
        <action>init_tables_moderation</action>
 </pipeline>
 <install>base/pipelines_annonces.php</install>
</plugin>
